.title {

    h2 {
        margin: 0;
    }
}

// ************* Version Mobile ************ 
@media screen and (max-width: 540px) { 
    .title {
        margin-bottom: 5px;

        h2 {
            font-size: 18px;
        }
    }
}