.rating_apartment {
    display: flex;
    justify-content: end;
    gap: 7px;
}

// *********** Version Mobile *********** 
@media screen and (max-width: 450px) {
    .rating_apartment {
        font-size: 0.8em;
    }
}