@import '@/style/colors.scss';


.carousel_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px 0;

    .btn_left {
        position: absolute;
        left: 10px;
        background: none;
        border: none;
        color: $primary_color;
    }

    .btn_right {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        color: $primary_color;
    }

    i {
        cursor: pointer;
        font-size: 5em;
    }

    img {
        height: 415px;
        width: 100%;
        object-fit: cover;
    }
}
