@import '@/style/colors.scss';


.carousel_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-radius: 25px;
    
    .btn_left {
        position: absolute;
        left: 10px;
        background: none;
        border: none;
        color: $primary_color;
    }
    
    .btn_right {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        color: $primary_color;
    }
    
    i {
        cursor: pointer;
        font-size: 5em;
    }
    
    img {
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        
    }

    .counter_image {
        position: absolute;
        left: 50%;
        bottom: 0;
        color: $primary_color;
    }
}


// ************* Version Tablet *************
@media screen and (max-width: 800px) { 
    .carousel_container {  
        
        .btn_left {
            font-size: 10px;
        }
        
        .btn_right {
            font-size: 10px;
        }
        
        img {
            height: 300px;            
        }
    }
}


// ************* Version Mobile *************
@media screen and (max-width: 540px) { 
    .carousel_container {  
        position: relative;
        margin: 27px 0 15px 0;
        border-radius: 10px;
        
        .btn_left {
            font-size: 5px;
        }
        
        .btn_right {
            font-size: 5px;
        }
        
        img {
            height: 255px;    
            border-radius: 10px;        
        }

        .counter_image {
            display: none;
        }
    }
}