@import '../../style/colors.scss';

.banner_home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 100%;
    margin-top: 45px;
    border-radius: 25px;
    background: url('/src/assets/img/bannerhome.png') center/cover;
    
    
    h1 {
        color: $primary-color;
        font-weight: 500;
        font-style: normal;
        font-size: 48px;
        z-index: 1;
    }
}

.banner_home::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: $quaternary-color;
    opacity: 0.3;
}




// ****************** Version Tablet ***************
@media screen and (max-width: 930px) {
    
    .banner_home {
        display: flex;
        justify-content: center;
        height: 170px;
        
        h1 {
            font-size: 24px;
            padding-left: 16px;
        }
    }
    
    .banner_home::before {
        height: 170px;
    }
}



// ************** Version Mobile *************
@media screen and (max-width: 450px) {
    
    .banner_home {
        display: flex;
        justify-content: start;
        height: 111px;
        margin-top: 27px;
        border-radius: 10px;
        
        h1 {
            font-size: 24px;
            width: 233px;
            padding-left: 16px;
        }
    }
    
    .banner_home::before {
        height: 111px;
        border-radius: 10px;
    }
}