@import '@/style/colors.scss';

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -12px;
    margin-bottom: 8px;

    p {
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid $secondary_color;
        padding: 3px 40px;
        border-radius: 10px;
        color: $primary_color;
        background-color: $secondary_color;
        font-size: 14px;
    }
}

// ************* Version Tablet ************ 
@media screen and (max-width: 810px) { 
    .tags {
        margin-top: -15px;
        margin-bottom: 0;

        p {
            padding: 3px 20px;
        }
    }
}

// ************* Version Mobile ************ 
@media screen and (max-width: 460px) { 
    .tags {
        // display: none;

        p {
            padding: 3px 10px;
        }
    }
}