@import '@/style/colors.scss';

.host_content {
    display: flex;
    gap: 10px;

    p {
        display: flex;
        text-align: end;
        width: 93px;
    }
    
    .circle img{
        border: 1px solid $primary-color;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        background: #C4C4C4;
    }
}

// *********** Version Mobile *********** 
@media screen and (max-width: 450px) {
    .host_content {
        gap: 10px;
        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .circle img{
        width: 32px;
        height: 32px;
    }

    p {
        font-size: 12px;
        width: 50px;
    }
}
}