@import '@/style/colors.scss';

.host_content {
    display: flex;
    gap: 10px;

    p {
        display: flex;
        text-align: end;
        width: 93px;
    }
    
    .circle img{
        border: 1px solid $primary-color;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        background: #C4C4C4;
    }
}