@import '../../style/colors.scss';

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;  
    padding: 56px 50px;
    margin: 50px 0;
    background: $tertiary-color;
    width: 100%;
    border-radius: 25px;
    
    article {
        position: relative;
        display: flex;
        align-items: end;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        padding: 20px;
        background-position: center;  
        background-size: cover;
        
        h2 {            
            color: $primary-color;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            z-index: 1;
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
          }
    }
    
    a {
        text-decoration: none;
    }
}

// ************* Version Tablet *************

@media screen and (max-width: 930px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        padding: 0;
        gap: 20px;
        margin-top: 22px;


        article {
            height: 255px;
        }
 }
}


// ************* Version Mobile *************

@media screen and (max-width: 590px) { 
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        background: none;
        padding: 0;
        margin-top: 22px;
 }};