@import '../../style/colors.scss';

.collapse {
    width: 80%;
    margin: 30px auto;

    .collapse_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary-color;
        border-radius: 5px;
        padding: 10px 20px 10px 15px;

        h2, i {
            color: $primary-color;
            margin: 0;
            font-size: 24px;
        }

         .collapse_icon {
            cursor: pointer;
        }
    }

    .collapse_text {
        background: $tertiary-color;

        .text_content {
            padding: 15px 20px;
        }
    }
}