.navbar {
    display: flex;
    align-items: center;
    color: #ff6060;
    font-weight: 700;
    padding-top: 45px;
    gap: 2rem;
    text-decoration: none;
    
    .navbar_logo {
        margin-right: auto;
    }

    a{
        text-decoration: none;
        color: #FF6060;
    }
    a.active{ 
        text-decoration: underline;
    }
    
    a.visited {
        color: #FF6060;
        text-decoration: none;
    }
}