@import '../../style/colors.scss';

.banner_about {
    position: relative;
    height: 223px;
    width: 100%;
    margin: 38px 0;
    border-radius: 25px;
    background: url('/src/assets/img/bannerabout.png') center/cover;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 25px;
        background: $quaternary-color;
        opacity: 0.3;
    }
}



// *********** Version Tablet **********
@media screen and (max-width: 930px) {
    .banner_about {
        height: 170px;
    }
}


// ********** Version Mobile **********
@media screen and (max-width: 450px) {
    .banner_about {
        height: 111px;
        margin-top: 19px;
        margin-bottom: 19px;
        border-radius: 10px;

        &::before {
            border-radius: 10px;
        }
    }
}