@import '../../style/colors.scss';

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: $quaternary-color;
    color:$primary-color;
    height: 209px;

    .footer_logo {
        margin-top: 66px;
        margin-bottom:  28px;
    }
}