.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 100%;
    margin-top: 45px;
    border-radius: 25px;
    background-image: url("/public/banner.png");
    background-position: center;
    background-size: cover;

    h1 {
        color: white;
        font-weight: 500;
        font-style: normal;
        font-size: 48px;
        z-index: 1;
    }
}

.banner::before {
    position: absolute;
    content: "";
    height: 223px;
    width: 100%;
    border-radius: 25px;
    background: #000;
    opacity: 0.3;
}